body{
				background-color:#ccffff;
				
}
h1{text_shadow:3px 1px 0px red
background-color:#ccc;}
p{font-weigth:bold;
font-size:unset;
text-align:justify;}
h2{
				
}
p{font weight:bold;
font-size:unset;
text-align:justify
}
li{
				font-weight:bold;
				font-size:unset;
}
img{border-style:solid
margin-top:30px;
margin-right:30px;
margin-left:25px;
border-radius:30px;
border-color:black;}

h2{text-shadow:3px 1px 0px skyblue;}